*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
  background-color: lightgray;
}
p {
  float: left;
}
h1 {
  text-align: center;
  color: red;
  font: normal normal normal 30px/40px Arial, sans-serif;
}