*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 500px;
  background-color: lightgray;
}
.b {
  display: inline-block;
  /*vertical-align: baseline;*/
  border-radius: 5% 5% 20% 5%;
}
.b1 {
  width: 300px;
  height: 100px;
  background-color: red;
}
.b2 {
  width: 100px;
  height: 200px;
  background-color: blue;
}
.b3 {
  width: 450px;
  height: 200px;
  background-color: yellow;
  margin: 0;
  text-align: center;
  line-height: 200px;
}
.text-vert-center {
  /*vertical-align: top;*/
}
p {
  margin: 0;
}